@font-face {
    font-family: "Poor Story";
    src: local("Poor Story"),
        url(/src/assets/fonts/Poor_Story/PoorStory-Regular.woff2) format("woff2");
    font-display: swap;
}

/* * {
    font-family: 'Inter', sans-serif;
} */